* {
  box-sizing: border-box;

}

.container {
  width: 100vw;
  height: 100vh;
}

.outer { /* heigth: 500px*/ 
  background: #e0ccff;
  width: 34%;
  height: 34%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
  justify-content: space-between;
}


.outer div {
  flex-basis: 25%;
  width: 25%;
  height:50%;
  background: blue;
  border: 1px solid #000;
}







