

.container {
  width: 100%;
  height: 500px;
}

.outer { /* heigth: 500px*/ 
  background: #e0ccff;
  width: 34%;
  height: 34%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
}


.outer div {
  flex-basis: 25%;
  box-sizing: border-box;
  background: blue;
  border: 1px solid #000;
}







